@model ForgetPasswordVm
@{
    Layout = null;
}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="meta description" />
    <link href="~/assets/css/vendor.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
</head>
<!-- main wrapper start -->
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">Forget Password</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Forget Password</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <div class="login-register-wrapper section-padding">
        <div class="container">
            <div class="member-area-from-wrap">
                <div class="row" style="justify-content:center">
                    <div class="col-lg-6">
                        <div class="login-reg-form-wrap">
                            <h2>Forget Password</h2>
                            <form action="#" method="post">
                                <div class="single-input-item">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" placeholder="Enter your Email" required />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="single-input-item">
                                    <button type="submit" class="btn">Confirm</button>
                                </div>
                            </form>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="~/assets/js/vendor.js"></script>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}